* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainBlock {
    padding-left: 80px;
    min-height: 100vh;
    background-color: black;
    position: relative;
}
.mainBlock.menuOpen:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)
}
